<div style="justify-content:space-around; align-content: center;">
    <div class="nav transparentFloat">
        <h1>SVENV</h1>
        {% for collection in site.collections %}
            {% if collection.label != "posts" %}

            <a id="link-{{collection.label}}" class="navlink" style="font-size: 3vw;" href="/{{ collection.label }}/">
            <div style="justify-content: space-around;">
                <div style="font-size: 5vh;">{{ collection.label }}</div>
            </div>
            </a>

            {% endif %}
        {% endfor %}
    </div>
</div>