<!-- The following div is to center the searchbar -->
<div class="container padded" style="align-content: center; justify-content: center;">

    <form class="padded" action="/search" method="get" style="text-align: center;">
        <input type="text" style="font-size: 30px; border-radius: 30px; box-shadow: none;" id="search" name="search">
        <input type="submit" style="font-size: 30px; border-radius: 5px;" value="Search">
    </form>

    <script>
        var data = null;
    </script>

</div>