---
---

#homepageLayout {
    display: grid;
    grid-template-columns: 1fr minmax(375px, 3fr) 1fr;
}

// #homepageLayout:last-child {
//     margin-bottom:100px;
// }

.homepageCard {
    grid-column: 2;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 9rem;
}

.homepageCard p {
    margin-bottom: 1em;
}

.homepageCard h2 {
    margin-top:95px;
    margin-bottom:40px;
    border-bottom: 1px solid var(--dark-color);
}

.profileImg {
    width: 170px;
    border-radius: 120px;
}

.homepageCard .topHitsCard {

}

@media (max-width: 768px) {
    .homepageCard img {
      width: 100px; /* Show the hamburger menu */
    }
}




// #contactInfo * {
//     font-size: 1.5rem;
//     font-weight: 600;
//     padding: 0.5rem;
// }