---
---


// @import url(https://fonts.googleapis.com/css?family=Bungee+Shade&family=Exo:100&family=Monoton&family=Reggae+One&display=swap);
// @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Reggae+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Shade&family=Caesar+Dressing&family=Faster+One&family=Fredoka+One&family=Grenze&family=Grenze+Gotisch:wght@300&family=Lato&family=Libre+Barcode+39&family=Monoton&family=Open+Sans&family=Pacifico&family=Press+Start+2P&family=Reggae+One&family=Righteous&family=Train+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Caesar+Dressing&family=Faster+One&family=Fredoka+One&family=Grenze&family=Grenze+Gotisch:wght@300&family=Lato&family=Libre+Barcode+39&family=Monoton&family=Open+Sans&family=Pacifico&family=Press+Start+2P&family=Reggae+One&family=Righteous&family=Train+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lato');

* {
    font-family:'Lato', arial, sans-serif;
    // color: var(--c-primary2-dark);
    overflow:hidden;
    margin:0px;
    border-width: 0px;
    padding:0px;
    font-size: 2.5vh;

    // text-decoration: none;
}

a {
    text-decoration:none;
    color: #555;
}

p {
    margin: 1vh;
}

h1 {
    // font-family: 'Bungee', 'sans-serif'; 
    font-size: 10vh; 
    margin-bottom: 1vh;
    padding: 20px;
}

h2 {
    // font-family: 'Bungee', 'sans-serif'; 
    font-size: 4vh;
    height: 5vh; 
    margin-bottom: 1vh;
    padding: 0px;
}

.LightText {
    color: #ddd;
}

.DarkText {
    color: #555;
}

div {
    display: grid;
    grid-gap: 0px 0px;
}

.mainDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.centeredDiv {
    justify-content:space-around;
    align-content: center;
}

.Card {
    background-color: rgb(155,120, 140); 
    padding: 5vh;
    text-decoration: none;
    font-size: 3vh;
    // text-align: center;
    &:hover {
        background-color: rgb(135, 100, 120);
    }
}

.DarkCard {
    @extend .Card;
    color: #ddd;
    background-color: rgb(155,120, 140); 
    &:hover {
        background-color: rgb(135, 100, 120);
    }
}

.TitlePlusContent {
    justify-content: space-around;
    align-content: start;
}

.Title {
    padding-top: 5vh;
    height: 11vh;
    font-size: 6vh;
    text-align: center;
}

.Content {
    overflow: auto;
    height: calc( 84vh - 150px );
    padding-top: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.Content90 {
    @extend .Content;
    width: 80vw;
}

.Content100 {
    @extend .Content;
    width: 90vw;
}

.List {
    justify-content: start;
    align-content: start;
    gap: 10px;
    & a {
        font-size:3vh;
        text-decoration: none;
        &:hover {
            background-color: rgba(0,0,0,0.2);
        }
    }
}

.ListSideBar {
    @extend .List;
    & a {
        font-size:1.2vw;
    }
}

.footerDiv {
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    align-content: center;
    justify-content: center;
}

.footerOverlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}


.darkBG {
    background-color: rgb(6, 6, 53);
}


.transparentFloat {
    background-image: radial-gradient(rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.075) 90%, rgba(255,255,255,0) 110%);
    border: 4px solid rgba(255,255,255,0.2);
}


.nav {
    align-content: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

.left-right {
    grid-auto-flow: column;
    grid-gap: 3vw;
    &-10-90 {
        grid-template-columns: 10vw 90vw;
    }
}


.nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0 0.1vw 0 0.1vw;

    &:hover {
        background-color: rgba(19, 162, 206, 0.7);
    }
}
