---
---

:root {
  --menu-bg-color: #d8dadc;
  --dark-color: #323232;
  --menu-height: 4rem;
}

@import 'builtins.css';
@import 'classesForGrids.css';
@import 'classesForLayers.css';
@import 'classesForColors.css';
@import 'classesForCards.css';
@import 'code.css';


#header {
  height: var(--menu-height);
  background-color: var(--dark-color);
  align-content: center;
  text-align: center;
  justify-content: center;
  text-justify: center;
}

#headerTitle {
  font-size: 2rem;
  font-weight:900;
  letter-spacing: 0.3rem;
  color: var(--menu-bg-color);
}

main {
  min-height: calc(100dvh - 2 * var(--menu-height));
}

#footer {
  height: var(--menu-height);
  background-color: var(--dark-color);
}

.menuColor {
  color: var(--menu-bg-color);
}


.socials * {
  font-size:3em;
}


.pageTitle {
  margin: 2em 0;
  border-bottom: 1px solid var(--dark-color);
}


.fullSize {
  height: 100dvh;
  width: 100vw;
}

.bold {
  font-weight: 500;
}

.bold2 {
  font-weight: 600;
}
