---
---


#articleLayout {
    display: grid;
    grid-template-areas: "bc ml ac mr";
    grid-template-columns: 10rem 1fr 3fr 1fr;
    overflow-x: hidden;
}

#articleDate {
    text-align: right;
    align-content: right;
}

#articleDescription {
    border-bottom: 1px solid #636363;
    margin-bottom:3rem;
}
#backBar {
    grid-area: bc;
}

#articleContent {
    grid-area: ac;
}

#article > p {
    margin-bottom:0.5rem;
}

#article > input {
    border: 1px solid black;
}