---
layout: main
stylesheet: blog
---


<div id="blogLayout" class="centeredColumn">
<div></div>
<div>
{% if page.title %}
<h1 id="articleTitle">{{page.title}}</h1>
{% endif %}
{% if page.date %}
<h2 id="articleDate">{{page.date | date_to_long_string: "ordinal", "US"}}</h2>
{% endif %}
{% if page.thumbnail %}
<img id="blogThumbnail" class="blogThumbnail" src="/static/images/thumbnails/{{page.thumbnail}}"/>
{% endif %}
{% if page.description %}
<p id="articleDescription">{{page.description}}</p>
{% endif %}
<article>{{content}}</article>
</div>
<div></div>
</div>