<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata Values --> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{page.description}}" />

    <title>{{page.title}}</title>

    <!-- Stylesheets -->
    <link href="/static/css/Montserrat-5829.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    {% if page.stylesheet %}
    <link rel="stylesheet" href="/static/css/{{page.stylesheet}}.css">
    {% endif %}
    {% if page.script %}
    <script type="text/javascript" src="/static/js/{{page.script}}.js"></script>
    {% endif %}
    {% if layout.stylesheet %}
    <link rel="stylesheet" href="/static/css/{{layout.stylesheet}}.css">
    {% endif %}
    {% if layout.script %}
    <script type="text/javascript" src="/static/js/{{layout.script}}.js"></script>
    {% endif %}

</head>

<body>{{content}}</body>

</html>